.header {
  padding: 4px 20px;
  background: #151825;
  border-color: #1b1e2e;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    width: 25%;
    display: flex;
    align-items: center; }
    .header__logo a {
      display: flex; }
    .header__logo .separator {
      height: 38px;
      width: 2px;
      border-right: 1px solid #303552;
      margin: 0 20px 0 16px; }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; }
    .header__menu .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #aaaab3;
      cursor: pointer;
      flex: 1 1 0;
      text-align: center;
      padding: 10px 0;
      border-radius: 8px;
      border: 1px solid transparent;
      margin: 0 4px;
      transition: all 0.3s; }
      .header__menu .item span {
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 0.65rem;
        color: #999;
        text-transform: uppercase;
        transition: all 0.3s;
        cursor: pointer; }
      .header__menu .item i {
        color: #41b883;
        padding: 10px;
        font-size: 24px; }
      .header__menu .item:hover {
        background: #1d2031; }
  .header__login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%; }
    .header__login__button {
      border-color: #41b883;
      background: #41b883;
      padding: 8px 22px;
      height: 38px;
      line-height: 1.1;
      font-size: 0.95rem;
      font-family: Roboto, sans-serif;
      transition: all 0.3s;
      margin-right: 10px;
      display: flex;
      border: none;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      gap: 8px; }
      .header__login__button span {
        color: #fff; }
      .header__login__button i {
        color: #fff;
        font-size: 0.95rem; }
    .header__login__google {
      background: #2c314b;
      border-color: #303552;
      color: #aaaab3;
      padding: 8px 22px;
      height: 38px;
      line-height: 1.1;
      font-size: 0.95rem;
      font-family: Roboto, sans-serif;
      transition: all 0.3s;
      display: flex;
      border: none;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      gap: 8px; }
      .header__login__google span {
        color: #fff; }
      .header__login__google i {
        background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-size: 0.95rem; }

.carousel-rewards {
  box-shadow: #191c2b 0 1px 25px 45px;
  background: #1d2031; }
  .carousel-rewards__scroll {
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease 0s; }
    .carousel-rewards__scroll .item {
      width: 210px;
      height: 40px;
      display: inline-flex;
      border-color: #303552 !important;
      border-radius: 6px;
      cursor: pointer;
      font-size: 11px;
      box-sizing: border-box;
      border: 1px solid #01d676;
      margin: 5px;
      background: #24293e !important;
      justify-content: space-between;
      padding: 4px; }
      .carousel-rewards__scroll .item__info {
        width: 80%;
        display: flex;
        align-items: center; }
        .carousel-rewards__scroll .item__info__img {
          width: 32px;
          height: 32px;
          background: #8269b2;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .carousel-rewards__scroll .item__info__img span {
            color: #2c314b;
            font-weight: 500; }
        .carousel-rewards__scroll .item__info__text {
          padding-left: 4px; }
          .carousel-rewards__scroll .item__info__text p {
            display: block;
            font-size: 0.8rem;
            font-weight: 800;
            color: #aaaab3 !important;
            opacity: 0.8;
            font-family: "Fira Code", monospace;
            overflow: hidden;
            margin: 0; }
          .carousel-rewards__scroll .item__info__text span {
            display: block;
            color: #aaaab3 !important;
            opacity: 0.8;
            font-family: "Fira Code", monospace;
            overflow: hidden; }
      .carousel-rewards__scroll .item__point {
        width: 20%;
        background: #283252 !important;
        border-radius: 2px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center; }
        .carousel-rewards__scroll .item__point span {
          padding: 4px;
          font-size: 12px;
          font-weight: 800;
          color: #01d676;
          text-align: center;
          position: relative;
          display: block; }

.dashboard__info {
  position: relative;
  padding: 20px;
  height: 340px;
  background: #24293e !important;
  border: 0.1px solid #2d385c;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center; }
  .dashboard__info__money {
    width: 30%; }
    .dashboard__info__money img {
      width: 100%; }
  .dashboard__info__text {
    width: 70%; }
    .dashboard__info__text .container__image2 {
      padding: 10px;
      height: 140px;
      width: 50%;
      margin-left: 35px; }
    .dashboard__info__text .text {
      color: #fff;
      margin-left: 90px;
      width: 58%; }
      .dashboard__info__text .text h1 {
        font-size: 16px;
        color: #aaaab3; }
      .dashboard__info__text .text p {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        color: #a2a5b9;
        font-size: 16px; }
      .dashboard__info__text .text .button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px; }
        .dashboard__info__text .text .button a {
          border: 1px solid #41b883 !important;
          color: #41b883;
          text-decoration: none;
          padding: 8px 22px;
          height: 38px;
          line-height: 1.1;
          font-size: 0.95rem;
          font-family: Roboto, sans-serif;
          transition: all 0.3s;
          border-radius: 9999px;
          display: flex;
          align-items: center; }
          .dashboard__info__text .text .button a:hover {
            background: #41b883 !important;
            border-color: #41b883 !important;
            color: #2c314b !important; }

.dashboard__statistical {
  display: flex;
  padding: 20px;
  background: #24293e !important;
  border: 0.1px solid #2d385c;
  border-radius: 6px;
  margin-bottom: 1.5rem; }
  .dashboard__statistical .item {
    width: 25%;
    text-align: center; }
    .dashboard__statistical .item i {
      color: #41b883 !important;
      font-size: 35px !important; }
    .dashboard__statistical .item p {
      font-weight: 600;
      font-size: 1.6rem;
      margin: 0; }
    .dashboard__statistical .item span {
      font-family: Montserrat, sans-serif;
      font-size: 0.95rem; }
  .dashboard__statistical .item + .item {
    border-left: 1px solid #303552; }

.howToStart {
  padding: 20px 0; }
  .howToStart h3 {
    font-weight: 700;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #46d591 !important; }
  .howToStart__list {
    display: flex;
    margin: 0 auto;
    width: 100%; }
    .howToStart__list .item {
      flex: 1;
      display: inline-block;
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #303552;
      transition: all 0.3s;
      height: 250px;
      margin: 8px;
      width: calc(33.3%px);
      text-align: center;
      background: #24293e; }
      .howToStart__list .item p {
        margin-top: 30px;
        text-align: center;
        color: #46d591 !important;
        margin-bottom: 12px;
        font-size: 1.1rem;
        font-weight: 600; }
      .howToStart__list .item__img {
        width: 90%;
        min-width: 90%;
        max-width: 500px;
        margin: 25px;
        height: 80.5px; }
        .howToStart__list .item__img img {
          width: 100%;
          height: 100%; }
  .howToStart__button {
    margin-top: 30px; }
    .howToStart__button a {
      appearance: none;
      backface-visibility: hidden;
      width: 300px;
      background-color: #27ae60;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #2c314b;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: normal;
      line-height: 1.5;
      outline: 0;
      overflow: hidden;
      padding: 13px 20px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transform: translate3d(0, 0, 0);
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: top;
      white-space: nowrap;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .howToStart__button a:hover {
        background-color: #1e8449;
        opacity: 1;
        transform: translateY(0);
        transition-duration: 0.35s; }

.faq h3 {
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #46d591 !important; }

.faq__list {
  display: flex;
  justify-content: space-between; }
  .faq__list__column {
    width: 48%; }
    .faq__list__column .item {
      padding: 0 20px 20px;
      color: #a2a5b9;
      background: #24293e;
      width: 100%;
      padding: 20px;
      background-color: #2c314b;
      border-radius: 6px;
      border: 1px solid #303552;
      transition: all 0.3s;
      padding: 0;
      margin-bottom: 1.5rem; }
      .faq__list__column .item button {
        background: none;
        width: 100%;
        border: none;
        font-size: 0.9rem;
        font-weight: 600;
        color: #aaaab3;
        height: 60px;
        padding: 0 20px;
        cursor: pointer;
        text-align: left; }
      .faq__list__column .item .collapse span {
        display: block;
        padding: 0 20px 20px;
        color: #a2a5b9;
        font-weight: 300; }

.why-us h3 {
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #46d591 !important; }

.why-us__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  margin: 0 auto; }
  .why-us__list .item {
    background: #24293e;
    position: relative;
    width: calc(20% - 16px);
    text-align: center;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #303552;
    transition: all 0.3s;
    cursor: pointer; }
    .why-us__list .item .icon-warp {
      display: flex;
      justify-content: center;
      align-items: center;
      background: 0 0;
      border: none;
      box-shadow: none;
      height: 52px;
      width: 100%; }
      .why-us__list .item .icon-warp i {
        font-size: 2.7rem;
        color: #696e8c;
        margin-bottom: 4px;
        transition: color 0.3s; }
    .why-us__list .item span {
      text-align: center;
      display: block;
      text-transform: uppercase;
      color: #a2a5b9;
      font-family: Montserrat, sans-serif;
      font-size: 10px;
      letter-spacing: 1px; }
    .why-us__list .item p {
      font-family: Roboto, sans-serif;
      font-size: 12.6px;
      font-weight: 400;
      color: #a2a5b9;
      transition: color 0.3s;
      margin: 0; }
    .why-us__list .item:hover {
      border-color: #41b883; }
      .why-us__list .item:hover i {
        color: #41b883; }
      .why-us__list .item:hover p {
        color: #41b883; }

.our-partners h3 {
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #46d591 !important; }

.our-partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .our-partners__list img {
    height: 90px;
    color: #fff;
    padding: 25px;
    margin: 5px;
    filter: grayscale(100%);
    max-width: 190px !important;
    min-width: 210px !important;
    max-height: 110px;
    width: 210px !important; }

.footer {
  background-color: #191c2b;
  margin: 0;
  padding: 20px;
  position: relative;
  margin-top: 60px; }
  .footer__logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  .footer__content {
    display: flex;
    justify-content: center;
    gap: 50px; }
    .footer__content .item h3 {
      font-size: 1rem;
      font-weight: 600;
      color: #6973a8 !important;
      margin-bottom: 12px; }
    .footer__content .item a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      color: #a2a5b9;
      font-size: 14px; }
    .footer__content .item__icon {
      display: flex;
      gap: 10px; }
      .footer__content .item__icon i {
        font-weight: 5;
        cursor: pointer;
        color: #a9afcd !important;
        font-size: 25px; }

.message-side {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24293e !important;
  z-index: 35;
  transition: 0.5s ease;
  width: 285px; }
  .message-side .general {
    width: 100%;
    margin-top: 500px;
    padding: 8px; }
    .message-side .general__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .message-side .general__content__user {
        display: flex;
        align-items: center;
        gap: 4px; }
        .message-side .general__content__user i {
          font-size: 14px;
          color: #46d591 !important;
          font-weight: 900; }
        .message-side .general__content__user span {
          font-size: 12px;
          color: #46d591 !important;
          font-weight: 900; }
      .message-side .general__content button {
        padding: 8px 22px;
        line-height: 1.1;
        font-size: 0.95rem;
        font-family: Roboto, sans-serif;
        transition: all 0.3s;
        height: 25px !important;
        font-weight: 700;
        border-color: #41b883;
        background: #41b883;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px; }
        .message-side .general__content button span {
          color: #fff; }
    .message-side .general__icon {
      margin-top: 8px;
      display: flex;
      justify-content: flex-end;
      gap: 8px; }
      .message-side .general__icon a {
        text-decoration: none; }
        .message-side .general__icon a i {
          font-weight: 500;
          cursor: pointer;
          color: #a9afcd !important;
          font-size: 21px; }

.chat-window {
  width: 290px;
  position: fixed;
  bottom: 230px;
  margin-bottom: 35px;
  direction: rtl;
  margin-top: 55px; }

.messages {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: calc(100vh - 350px); }

.single {
  padding: 10px;
  overflow: hidden;
  max-height: 251px;
  background: #24293e !important;
  border-bottom: 0.1px solid #2a3455;
  direction: ltr; }

.created-at {
  display: block;
  color: #495c97;
  float: right;
  font-size: 12px;
  margin-bottom: -2px; }

.avatar {
  margin-right: 8px;
  float: left; }

.v-avatar {
  position: relative;
  display: inline-block;
  vertical-align: bottom; }

.v-avatar.is-xsmall {
  max-width: 18px;
  min-width: 18px;
  max-height: 18px; }

.v-avatar.is-xsmall .avatar {
  max-width: 18px;
  min-width: 18px;
  max-height: 18px; }

.is-dark .v-avatar .avatar {
  border-color: #24293e; }

.v-avatar.is-xsmall .avatar.is-squared {
  border-radius: 4px !important; }

.name {
  color: #00fc7c;
  font-family: fira code, monospace;
  font-size: 12px;
  margin-right: 6px; }

.message2 {
  overflow-wrap: break-word;
  font-size: 13px;
  padding: 5px;
  font-family: fira code, monospace;
  color: #6174b2; }

.v-avatar .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover; }

.v-avatar img {
  display: block;
  border-radius: 9999px; }

.avatar {
  margin-right: 8px;
  float: left; }

.messages::-webkit-scrollbar {
  background: #13b167;
  width: 5px; }

::-webkit-scrollbar {
  width: 5px; }

.messages::-webkit-scrollbar-thumb {
  background: #394774 !important;
  border-radius: 7px; }

::-webkit-scrollbar-thumb {
  background: #00fc7c;
  border-radius: 7px; }

.messages::-webkit-scrollbar-track {
  background: #2b3659 !important;
  border-left: 1px solid #2b3659 !important; }

.send {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

form {
  margin: 20px 0 80px; }

textarea {
  overflow: hidden;
  height: 120px;
  bottom: 0;
  right: 0;
  caret-color: #fff;
  resize: none;
  cursor: text;
  left: 0;
  width: 100%;
  font-size: 15px;
  color: #6174b2;
  position: absolute;
  background: #171820 !important;
  font-family: monospace;
  border: 0.1px solid #2a3455; }

.blinker {
  margin-bottom: 60px;
  border: 3px;
  outline: 0;
  padding-left: 10px;
  padding-top: 5px; }

.shop h1 {
  margin-bottom: 50px;
  color: #6973a8 !important;
  position: relative;
  text-align: left !important;
  font-weight: 900 !important;
  font-size: 24px !important;
  font-family: Montserrat, sans-serif; }

.shop .wallet {
  width: 400px;
  padding: 12px;
  border: 1px solid;
  margin-left: -10px;
  border-radius: 6px;
  font-size: 12px !important;
  transition: all 0.3s;
  border-color: #2a3455;
  display: flex;
  align-items: center; }
  .shop .wallet__img {
    max-width: 50px;
    min-width: 50px; }
    .shop .wallet__img img {
      width: 100%; }
  .shop .wallet__content {
    margin-left: 12px;
    line-height: 1.4; }
    .shop .wallet__content h3 {
      font-family: Roboto, sans-serif;
      font-size: 1.4rem !important;
      color: #aaaab3 !important;
      font-weight: 300; }
    .shop .wallet__content p {
      font-family: Roboto, sans-serif;
      color: #a2a5b9;
      font-size: 1rem;
      margin: 0; }
  .shop .wallet__btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .shop .wallet__btn a {
      border-color: #41b883;
      background: #41b883;
      text-decoration: none;
      padding: 12px 22px;
      line-height: 1.1;
      font-size: 0.95rem;
      font-family: Roboto, sans-serif;
      transition: all 0.3s;
      display: block;
      border-radius: 8px; }
      .shop .wallet__btn a span {
        color: #fff; }

.shop .dashboard {
  margin-top: 30px;
  margin-left: -10px;
  background: #24293e;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #303552;
  transition: all 0.3s;
  font-family: Roboto, sans-serif; }
  .shop .dashboard__helper {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #6973a8 !important;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 4px; }
    .shop .dashboard__helper p {
      margin: 0; }
    .shop .dashboard__helper i {
      color: #01d676; }

.quick-stats-inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px; }

a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none; }

.credit-card.is-litecoin {
  background: linear-gradient(162deg, #7e7e7e 0, #b8b8b8 61%); }

.credit-card {
  position: relative;
  display: flex;
  transition: transform 0.2s;
  margin-left: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  cursor: pointer;
  width: 400px;
  background: #ededed;
  border-radius: 10px;
  padding: 6px 10px 8px 10px;
  overflow: hidden; }

.top .card-number {
  display: flex;
  justify-content: space-between; }

.top .card-number span {
  font-family: "Fira Code", monospace;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fcfcfc;
  display: block; }

.top .card-number i {
  color: #f5f5f5;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.bottom {
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  color: #fcfcfc; }

.credit-card:hover {
  transform: scale(1.05); }

.credit-card.is-bitcoin {
  background: linear-gradient(162deg, #b6864c 0, #f7931a 61%); }

.credit-card.is-dash {
  background: linear-gradient(162deg, #1d314a 0, #3870b8 61%); }

.credit-card.is-dogecoin {
  background: linear-gradient(162deg, #c69b37 0, #ceaf67 61%); }

.credit-card.is-ethereum {
  background: linear-gradient(162deg, #4f5477 0, #626890 61%); }

.credit-card.is-paypal {
  background: linear-gradient(122deg, #0079c1 0, #00457c 100%); }

.paypal-logo {
  position: absolute;
  top: 29%;
  left: 23%;
  max-width: 50%;
  max-height: 50%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.table {
  color: #363636; }

.table.is-fullwidth {
  width: 100%; }

.is-dark .table {
  background: #24293e;
  border-color: #303552; }

.table thead {
  background-color: transparent; }

.table th {
  border: 1px solid #303552;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top; }

.table th {
  font-family: Montserrat, sans-serif; }

.table thead td,
.table thead th {
  border-width: 0 0 2px;
  color: #aaaab3; }

.table th:not([align]) {
  text-align: inherit; }

.is-dark .table th {
  border-color: #303552; }

.is-dark .table th {
  color: #aaaab3; }

.is-justify-content-flex-end {
  justify-content: flex-end !important; }

.is-flex {
  display: flex !important; }

.is-dark .dark-inverted,
.is-dark .title {
  color: #aaaab3 !important; }

.table tbody {
  background-color: transparent; }

.is-dark .table tbody td:first-child {
  color: #aaaab3; }

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border-bottom-width: 0; }

.is-dark .table tbody td,
.is-dark .table tbody th {
  border-color: #303552; }

.table tbody td.is-media {
  width: 40px; }

.table tbody td {
  vertical-align: middle; }

.is-dark .table td {
  color: #aaaab3; }

.is-dark .table tbody td:first-child {
  color: #aaaab3; }

.link-link {
  color: #01d676; }

.table tbody tr td {
  color: #aaaab3 !important; }

.earn {
  margin-top: 60px; }
  .earn__list {
    flex: 1;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background-color: #2c314b;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    transition: all 0.3s;
    font-family: Roboto, sans-serif;
    margin-bottom: 50px;
    background: #24293e;
    border-color: #303552; }
    .earn__list__title {
      margin-bottom: 12px;
      display: flex;
      align-items: center; }
      .earn__list__title i {
        color: #01d676;
        font-size: 1.5rem; }
      .earn__list__title span {
        position: relative;
        padding-left: 8px;
        font-size: 1rem;
        font-weight: 600;
        color: #6973a8 !important; }

.quick-stats .quick-stats-inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px; }

.offer-card {
  position: relative;
  transition: transform 0.2s;
  margin-left: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  height: 140px;
  cursor: pointer;
  width: 240px;
  background: #283252;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #0000001f 0 -23px 40px 0 inset, #00000026 0 -36px 30px 0 inset, #0000001a 0 -79px 40px 0 inset, #0000000f 0 2px 1px, #00000017 0 4px 2px, #00000017 0 8px 4px, #00000017 0 16px 8px, #00000017 0 32px 16px; }
  .offer-card:hover {
    transform: scale(1.05); }

.center-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 130px; }

.referral h1 {
  color: #6973a8 !important;
  position: relative;
  font-weight: 900 !important;
  font-size: 24px !important; }

.referral__content {
  margin-top: 60px;
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #303552;
  transition: all 0.3s;
  display: flex;
  padding: 0;
  background: #24293e; }
  .referral__content__left {
    padding: 40px;
    border-right: 1px solid #303552; }
    .referral__content__left .top {
      display: flex;
      justify-content: center;
      gap: 30px; }
      .referral__content__left .top .item p {
        font-family: Montserrat, sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5px;
        color: #a2a5b9; }
      .referral__content__left .top .item h3 {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        color: #aaaab3 !important;
        text-align: center; }
    .referral__content__left .coppy {
      margin-top: 80px; }
      .referral__content__left .coppy h2 {
        font-weight: 700;
        font-size: 18px !important;
        color: #41b883 !important;
        text-align: center;
        padding: 20px;
        border: 1px solid #303552;
        max-width: 360px;
        margin: 0 auto;
        border-radius: 6px;
        background: #212438 !important; }
      .referral__content__left .coppy__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px; }
        .referral__content__left .coppy__btn button {
          border: 1px solid #303552;
          background-color: #2c314b;
          color: #aaaab3;
          padding: 8px 24px;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.25s; }
          .referral__content__left .coppy__btn button:hover {
            border-color: #41b883 !important;
            color: #41b883 !important; }
  .referral__content__right {
    padding: 40px; }
    .referral__content__right h2 {
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 1.6rem;
      margin-bottom: 20px;
      color: #aaaab3 !important; }
    .referral__content__right p {
      font-size: 1.2rem;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: #a2a5b9; }
    .referral__content__right .content {
      margin: 40px 0 0 0; }
      .referral__content__right .content .item {
        display: flex;
        gap: 12px;
        margin-bottom: 24px; }
        .referral__content__right .content .item i {
          color: #41b883 !important;
          font-size: 24px; }
        .referral__content__right .content .item__text {
          width: 50%; }
          .referral__content__right .content .item__text p {
            font-weight: 500;
            font-size: 1.2rem;
            color: #aaaab3 !important;
            margin: 0; }
          .referral__content__right .content .item__text span {
            font-size: 1.2rem;
            margin-bottom: 20px;
            color: #6973a8 !important;
            font-weight: 300; }

.leaderboard__tabs .nav-tabs {
  border: none; }
  .leaderboard__tabs .nav-tabs li button {
    background: #2c314b;
    border-color: #303552;
    color: #aaaab3;
    font-size: 14px; }
    .leaderboard__tabs .nav-tabs li button:hover {
      border-color: #41b883; }

.leaderboard__tabs .nav-link.active {
  border-color: #41b883;
  background: #41b883;
  color: #fff; }

.leaderboard__title {
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  margin-top: 20px; }
  .leaderboard__title h1 {
    margin-bottom: 15px;
    text-shadow: #00fc7c 0 0 0;
    color: #00fc7c;
    font-size: 45px;
    font-family: Montserrat, sans-serif;
    font-weight: 700; }
  .leaderboard__title h4 {
    font-size: 18px;
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
    color: #46d59170 !important;
    font-weight: 200; }
  .leaderboard__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: linear-gradient(120deg, #00fc7c, #303552, #00fc7c);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%); }

.in::after {
  animation: frame-enter-37165ad4 1s forwards ease-in-out reverse, gradient-animation-37165ad4 4s ease-in-out infinite; }

.podium-box {
  height: 500px;
  margin-top: 50px;
  display: flex; }
  .podium-box .step-container {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .podium-box .p-0 {
    padding: 0 !important; }
  .podium-box .m-0 {
    margin: 0 !important; }
  .podium-box .v-avatar {
    position: relative;
    display: inline-block;
    vertical-align: bottom; }
  .podium-box .v-avatar.is-big {
    max-width: 80px;
    min-width: 80px; }
  .podium-box .v-avatar.is-big .avatar {
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-color: #24293e;
    border-radius: 18px !important;
    object-fit: cover; }
  .podium-box .podium-name {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
    color: #46d591 !important; }
  .podium-box .podium-points[data-v-37165ad4] {
    color: #a2a5b9;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 800; }

:root {
  --sidebar-bg-color: #2f855a;
  --sidebar-item-hover: #38a169;
  --sidebar-item-active: #276749; }

body {
  font-family: "Roboto", sans-serif;
  background: #1d2031;
  border-color: #2c314b;
  color: #aaaab3;
  position: relative; }

.navbar {
  padding: 0;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #2c314b;
  transition: all 0.3s;
  border-bottom: 1px solid #ededed;
  z-index: 100; }

.content {
  margin-top: 203px;
  margin-right: 320px;
  margin-left: 80px;
  transition: margin 0.5s; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
