@import "./home/header";
@import "./home/carousel-rewards";
@import "./home/dashboard";
@import "./home/howToStart";
@import "./home/faq";
@import "./home/why-us";
@import "./home/our-partners";
@import "./home/footer";
@import "./home/message";

@import "./shop/shop.scss";

@import "./earn/earn.scss";

@import "./referral/referral.scss";

@import "./leaderboard/leaderboard.scss";

@import "./pay/pay.scss";

@import "./modal/modal.scss";

:root {
  --sidebar-bg-color: #2f855a;
  --sidebar-item-hover: #38a169;
  --sidebar-item-active: #276749;
}

body {
  font-family: "Roboto", sans-serif;
  background: #1d2031;
  border-color: #2c314b;
  color: #aaaab3;
  position: relative;
}

.navbar {
  padding: 0;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #2c314b;
  transition: all 0.3s;
  border-bottom: 1px solid #ededed;
  z-index: 100;
}

.content {
  margin-top: 203px;
  margin-right: 320px;
  margin-left: 80px;
  transition: margin 0.5s;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
