.shop {
  h1 {
    margin-bottom: 50px;
    color: #6973a8 !important;
    position: relative;
    text-align: left !important;
    font-weight: 900 !important;
    font-size: 24px !important;
    font-family: Montserrat, sans-serif;
  }

  .wallet {
    width: 400px;
    padding: 12px;
    border: 1px solid;
    margin-left: -10px;
    border-radius: 6px;
    font-size: 12px !important;
    transition: all 0.3s;
    border-color: #2a3455;
    display: flex;
    align-items: center;

    &__img {
      max-width: 50px;
      min-width: 50px;

      img {
        width: 100%;
      }
    }

    &__content {
      margin-left: 12px;
      line-height: 1.4;

      h3 {
        font-family: Roboto, sans-serif;
        font-size: 1.4rem !important;
        color: #aaaab3 !important;
        font-weight: 300;
      }

      p {
        font-family: Roboto, sans-serif;
        color: #a2a5b9;
        font-size: 1rem;
        margin: 0;
      }
    }

    &__btn {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        border-color: #41b883;
        background: #41b883;
        text-decoration: none;
        padding: 12px 22px;
        line-height: 1.1;
        font-size: 0.95rem;
        font-family: Roboto, sans-serif;
        transition: all 0.3s;
        display: block;
        border-radius: 8px;

        span {
          color: #fff;
        }
      }
    }
  }

  .dashboard {
    margin-top: 30px;
    margin-left: -10px;
    background: #24293e;
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #303552;
    transition: all 0.3s;
    font-family: Roboto, sans-serif;

    &__helper {
      font-family: Montserrat, sans-serif;
      font-size: 1rem;
      font-weight: 600;
      color: #6973a8!important;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      gap: 4px;

      p {
        margin: 0
      }

      i {
        color: #01d676;
      }
    }
  }
}

@import './coin';
@import './table';
