.footer {
  background-color: #191c2b;
  margin: 0;
  padding: 20px;
  position: relative;
  margin-top: 60px;

  &__logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 50px;

    .item {
      h3 {
        font-size: 1rem;
        font-weight: 600;
        color: #6973a8 !important;
        margin-bottom: 12px;
      }

      a {
        display: block;
        text-decoration: none;
        cursor: pointer;
        color: #a2a5b9;
        font-size: 14px;
      }

      &__icon {
        display: flex;
        gap: 10px;

        i {
          font-weight: 5;
          cursor: pointer;
          color: #a9afcd !important;
          font-size: 25px;
        }
      }
    }
  }
}
